.postForm {
    background-color: var(--secondary);
    color: var(--tertiary-light);
    margin: 5px auto;
    padding: 10px;
    border: 2px solid var(--main);
    border-radius: 10px;
    max-width: 800px;
}

#closeBtn {
    float: right;
}

.titleInput {
    margin: 10px auto;
    & input {
        min-width: 410px;
    }
}

.contentText {
    width: 100%;
    height: 200px;
}

#postBtn {
    margin: 10px auto;
}
